# gradle output and cache directories
build
/.gradle

# Eclipse output and metadata (users should run `gradle eclipse` to generate)
.classpath
.project
.settings
bin

# IDEA metadata (users should run `gradle idea` to generate)
*.iml
*.ipr
*.iws

# vim swap files
*.sw?

# Structure101 config files
/*.hsp
