# ignore the gradle output and cache directories
/build
/.gradle

# ignore Eclipse metadata (users should run `gradle eclipse` to generate)
.classpath

# ignore IDEA metadata (users should run `gradle idea` to generate)
*.iml
*.ipr
*.iws
.settings
